<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Parking Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let spot of parkingSpots$ | async">
        <ion-card [ngClass]="{
          'available': spot.status === 'available',
          'reserved': spot.status === 'reserved'
        }">
          <ion-card-header>
            <ion-card-title>{{ spot.spot_name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ spot.status | uppercase }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>