<ion-header>
  <ion-toolbar color="primary">
    <ion-title>สถานะที่จอดรถ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let spot of parkingSpots">
        <ion-card [color]="getSpotColor(spot)">
          <ion-card-header>
            <ion-card-title>{{ spot.id }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            ประเภท: {{ spot.type }} <br />
            สถานะ: {{ spot.statusText }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
