<div class="flex h-full overflow-hidden">
  <div class="flex-1 overflow-y-auto">
    <ion-toolbar class="shadow-none border-b-1 border-gray-200">
      <ion-title class="text-2xl font-bold text-[#001663]">Smart-Parking</ion-title>
    </ion-toolbar>
  
    <ion-content [fullscreen]="true">
      
      <div class="flex flex-col gap-5 sm:flex-row">
        <ion-card class="flex gap-5 py-5 px-5">
          <ion-button class="bg-white shadow-none rounded-2xl" size="large" (click)="openRegister()">
            เปิด modal chat teal time
          </ion-button>
          <ion-button class="bg-white shadow-none rounded-2xl" size="large" (click)="goNextPage()" >
            route chat real time
          </ion-button>
          <ion-button class="bg-white shadow-none rounded-2xl" size="large" >
            Welcome
          </ion-button>
        </ion-card>
      </div>
    </ion-content>
    
  </div>
</div>