<ion-header class="py-3 shadow-none bg-[#0C317A] text-white flex items-center px-5">
  <div class="flex justify-end space-x-4">
    <p>Login</p>
    <p>|</p>
    <p>Register</p>
  </div>
</ion-header>


<div class="flex flex-col items-center justify-center h-screen w-screen bg-[#184392] text-center text-white font-sans">
  <span class="text-[96px] font-bold">Smart Central Parking Hub</span>
  <ion-button color="light" class="bg-white shadow-none rounded-2xl" size="large" style="min-width: 300px"
    (click)="goNextPage()">
    Welcome
  </ion-button>

</div>